---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Ingeniero de datos",
    company: "Management Solutions",
    description:
      "Consultor informático con experiencia en la prevención del fraude, actualmente colaborando con BBVA y Featurespace. Mi trabajo se centra en el análisis y procesamiento de grandes volúmenes de datos, tanto históricos como en tiempo real, utilizando tecnologías como PySpark, Pandas, SQL y otras herramientas. Me enfoco en procesar información sensible para mejorar la eficiencia operativa y en la integración eficiente de fuentes de datos desde entornos locales a la nube. Mi objetivo es optimizar los procesos analíticos y contribuir a la protección de los clientes, así como a la reducción de pérdidas económicas.",
    //link: "https://www.featurespace.com/",
  },
  {
    date: "Febrero 2022",
    title: "Científico de datos",
    company: "SIMIDAT",
    description:
      "Investigación sobre el uso de redes neuronales convolucionales para la segmentación de imágenes de fototrampeo, en colaboración con WWF. He llevado a cabo un estudio exhaustivo del estado del arte en el ámbito de la identificación y análisis de especies mediante el uso de arquitecturas avanzadas. Este análisis incluyó una evaluación detallada de cómo estas arquitecturas pueden optimizar la precisión en dichos procesos. Además, realicé una evaluación comparativa del rendimiento de las redes neuronales convolucionales en relación con técnicas y arquitecturas establecidas en la literatura, particularmente en el contexto de la Visión por Computador.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
